[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
bs4 = "*"
flask = "*"
requests = "*"
urllib3 = "*"
lxml = "*"
langdetect = "*"

[dev-packages]

[requires]
python_version = "3.12"
